.code-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70%;
}

.signin-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 30%;
}